<!DOCTYPE html>
<html>
<head>
    <title>Update Student</title>

    <style>
        body{
            font-family: Arial;
            margin: 40px;
        }

        form{
            width: 300px;
        }

        input{
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
        }

        button{
            padding: 10px 20px;
        }

        a{
            text-decoration: none;
        }
    </style>
</head>
<body>

    <h2>Update Student</h2>

    <form method="POST">
        {% csrf_token %}

        <input type="text"
               name="name"
               value="{{ student.name }}"
               required>

        <input type="email"
               name="email"
               value="{{ student.email }}"
               required>

        <button type="submit">
            Update
        </button>
    </form>

    <br>

    <a href="{% url 'student_list' %}">
        Back to Home
    </a>

</body>
</html>