{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="{% static  'style.css' %}"> -->
    <script src="{% static "myapp/script.js" %}"></script>
    
</head>
<body>
    {{name}}
    <h1>hi</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, omnis. Porro corporis, 
        veniam ipsa distinctio tenetur nostrum numquam exercitationem ea.</p>
    <img src="{% static 'vj.jpg' %}" alt="asdf">
    <p id="asdf">hi hello welcome rajni era</p>
    <button onclick="clickmee()">time to lead</button>
</body>
</html>